@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
font-family: 'Lato' , sans-serif;
padding:0;
margin:0;
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

.button {
    color:white;
    background-color: blue;
    border-radius: 90px;
    height: 30px;

}
.image {
    position: relative;
    top: -120px;
    float: right;
    height: 400px;
    width: 60%;
}

h3 {
    float: left;
    position: relative;
    right: 260px;
}
 



ul {
    display: flex;
}

a {
    color: #242424;
    font-size: 24px;
    font-weight: 700;
}

.span {
    color: #7342d6;
}

.placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple {
    color: #7342d6;
}



.row {
   width: 100%; 
   max-width: 1300px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}

/* NAVIGATION BAR */

nav {
    height: 200px;
    display: flex;
    justify-content: space-between;
}

header {
    background-color: ;
    height: 100vh;
}

.subheader {
font-size: 24px;
margin: 16px 8 24px 0;
}

a {
    color: #242424;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.logo {

    width: 50px;
    
    }
    
    .nav__container {
    
    width: 100%;
    
    max-width: 1200px;
    
    padding: 0 24px;
    
    display: flex;
    
    justify-content: space-between;
    
    align-items: center;
    
    margin: 0 auto;



    



    
    }
    
    
    
    .nav__link {
    
    margin-left: 16px;
    
    text-decoration: none;
    
    font-size: 20px;
    
    color: #7342d6;
    
    font-weight: bold;
    
    padding: 8px;

    
    }

    .nav__link--primary {
        border: 2px solid #7342d6;
        border-radius: 4px;
    }
    
    
    
    .nav__link :hover{
    
    text-decoration: none;
    
    }

    .nav__link--primary:hover {
        text-decoration: none;
    }

    .header__container {
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction:column
    }

    h1 {
        font-size: 48px;
        position: relative;
        bottom: -100px;
        width: 40%;
    }

    h2 {
        font-size: 24px;
        float: left;
        position: relative;
        bottom: -100px;
        display: flex;
        width: 40%;
    }

    .row1 {
        flex-direction: column;
        display: flex;
        text-align: center;
        justify-content: left;
        
    }

    .row2 {
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    .placeholder{
        display: flex;
        align-items: center;
        position: relative;
        text-align: center;
        top: 100px;
        width: 740px;
        height: 55px;
        border-radius: 100px;
    }

    .btn {
        color:white;
        background-color: blue;
        height: 55px;
        width: 90px;
        border-radius: 90px;
        float:right; 
        position: relative;
        top: 45px;  
        right: 20px;
    }

    .components {
        position: relative;
        bottom: -100px;
    }

    h6 {
        position: relative;
        bottom:-120px;
    }

    .features {
        color: #7342d6;
        position: relative;
        left:900px;
        top: 200px;
        text-align: center;
    }

    .purple{
        color: #7342d6;
    }

    .amazing {
        position: relative;
        bottom:-200px;
        left: 600px;
    }

    p {
        color: dimgrey;
        position: relative;
        top:210px;
        left: 800px;
        text-align: center;
    }
    
    .image__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 250px;
        left: 600px;
        font-size: 25px;
    }

    .shield {
        position: relative;
        right:200px;
        top: 10px;
    }

    .support {
        position: relative;
        right:220px;
        top: 10px;
    }

    .customizeable {
        position: relative;
        left:270px;
        bottom: 40px;
    }

    .security {
        position: relative;
        right: 500px;
        top: 100px;
    