@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
font-family: 'Lato' , sans-serif;
padding:0;
margin:0;
box-sizing: border-box;
}


/* NAVIGATION BAR */



.logo {

    width: 160px;
    
    }
    
    
    
    .nav__container {
    
    width: 100%;
    
    max-width: 1200px;
    
    padding: 0 24px;
    
    display: flex;
    
    justify-content: space-between;
    
    align-items: center;
    
    margin: 0 auto;

    
    }
    
    
    
    .nav__link {
    
    margin-left: 16px;
    
    text-decoration: none;
    
    font-size: 20px;
    
    color: #7342d6;
    
    font-weight: bold;
    
    padding: 8px;
    
    }
    
    
    
    .nav__link :hover{
    
    text-decoration: none;
    
    }




